CARTESIA_VOICE=78386a09-04ef-484d-9b9d-efd13087b792
CARTESIA_VOLUME=1.0
CARTESIA_SPEED=0.9
CARTESIA_EMOTION=calm
STT_LANGUAGE=zh
STT_PROVIDER=soniox
CARTESIA_TTS_LANGUAGE=zh
OBSERVER_SCREEN_ACTIVE=true
OBSERVER_CAMERA_ACTIVE=false
OBSERVER_CAPTURE_INTERVAL=60
OBSERVER_PROCESS_INTERVAL=300
CORS_ORIGINS=*
FERNET_KEY=
